.home-page-wrapper {
    margin: 50px 150px 0px 150px;
}

.home-page-details-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 72px 0px 0px 0px;
}

.home-page-details {
    display: flex;
    justify-content: start;
    flex-direction: column;
    color: var(--white);
    padding: 85px 95px 0px 0px;
}

.hp-d-first {
    font-size: 66px;
    font-weight: 500;
    line-height: 97.37px;
    padding-bottom: 36px;
}

.hp-d-second {
    padding-bottom: 36px;
}

.hp-d-input {
    width: 438px;
    height: 44px;
    border-radius: 43px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
}

.hp-d-input::placeholder {
    color: white;
    font-size: 16px;
    opacity: 20%;
    font-weight: 500;
}

.hp-d-form input[type="text"] {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

form {
    position: relative;
}

.hp-d-submit {
    position: absolute;
    top: 50%;
    translate: -105% -50%;
    height: 62px;
    background-color: var(--yellow);
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    border-radius: 43px;
    width: 137px;
    border: 0px;
}
  