.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    flex-grow: 0.5;
    padding: 108px 150px 100px 150px ;
}

.footer-button {
    width: 1134px;
    display: flex;
    justify-content: space-between;
}

.footer-terms {
    width: 1134px;
    display: flex;
    justify-content: center;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 14px;
    color: var(--white);
}

.footer-terms p {
    margin: 0px 8px 0px 8px;
}

.footer-menu {
    display: flex;
    flex-grow: 0.3;
    justify-content: space-between;
}
.footer-menu button{
    background-color: inherit;
    font-weight: 600;
    font-size: 16px;
    color: var(--white);
    cursor: pointer;
    border: none;
}

.social-media {
    display: flex;
    flex-grow: 0.1;
    justify-content: space-between;
}