:root {
  --black: #111111;
  --white: #FFFFFF;
  --yellow: #E3B748;
}

.lorem-ipsum {
  color: var(--white);
  opacity: 30%;
  font-weight: 500;
  font-size: 18px;
  line-height: 29.25px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--black);
}